
/* The visual styling of the sections */

  #cart_section, #costumer_section, #payment_section{
      margin:2rem;
  }

/* For style.css */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 99%;
    -webkit-appearance: none;
    padding: 2rem;
    border-radius: 6px;
    background-color: rgb(244, 244, 244);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.106);
}

/* MOBILE STYLING DEFUALT */

.proces_line{
    max-width: 100%;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.proces_line img{
    width: 100%;
}

.timer{
    display: none;
}

.timer_mobile{
    display: block;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    height: auto;
}

.cart_products{
    gap: 1rem;
    width: 99%;
    -webkit-appearance: none;
    padding: 2rem;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: solid 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.106);

}

.costumer_grid, .payment_grid{
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}


.costumer_button, .cart_button{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 0.5rem;
}

#order_popup{
    margin: 0 auto;

}
.order_popup_background{
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    border: solid 2px;
    border-radius: 6px;
    background-color: rgb(244, 244, 244);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.106);

}

.order_graphic{
    position: relative;
    background-repeat: no-repeat;
    width: 8rem;
    height: 8rem;
    z-index: 2;
    margin: 0 auto;
    background-image: url("ui_icons/ticket-svgrepo-com.svg");
}

.order_text{
    text-align: center;
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
    form{
        gap: 1rem;
        width: 100%;
    }

    .proces_line img{
        width: 50%;
    }

    .order_popup_background{
        width: 50%;
    }

    .cart_wrapper, .costumer_wrapper, .payment_wrapper{
        margin: 0 auto;
    }
  
}


/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  
}


/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {

    #cart_section, #costumer_section, #payment_section{
        margin:6rem;
    }

    .proces_line{
        margin-bottom: 4rem;
    }

    .cart_wrapper, .costumer_wrapper, .payment_wrapper{
        margin: 0 auto;
        display: grid;
        justify-content: center;
    }

    .cart_p_checkout {
        margin: 1rem auto;
        }

        .cart_button {
            display: flex;
            gap: 2rem;
            margin: 0 auto;
            padding: 1rem;
            }

  .cart_products{
      background-image: url("ui_icons/ticket_cart.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 62rem;
height: 18rem;
background-size: 67rem;
display: grid;
padding: 1rem;
gap: 1rem;
  }

  .cart_prroduct_list {
    width: 65%;
    height: 11rem;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.199);
    background-color: white;
    margin: 0 3rem auto;
    }

    .cart_product_title_list {
        width: 65%;
        height: 3rem;
        border-radius: 3px;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.199);
        background-color: white;
        margin: 0 3rem auto;
        }


  .costumer_grid, .payment_grid{
      margin: 0 auto;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
  }

  .costumer_button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap:  18rem;
  }


 .costumer_timer_cart, .payment_timer_card{
     display: grid;
     gap: 3rem;
     justify-content: center;
 }

 .costumer_cart{
    height: 20rem;
    border-radius: 6px;
    background-color: rgb(244, 244, 244);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.106);
 }

 .credit_card_visual{
     background-image: url("ui_icons/credit-card-svgrepo-com\(1\).svg");
     background-repeat: no-repeat;
        background-size: 198px;
        display: block;
        width: 17rem;
        background-position: center;
     height: 11rem;
    
    }
   /* Popup window styling */
    #order_popup{
        margin: 0 auto;
    
    }
    .order_popup_background{
        width: 20rem;
        padding: 2rem;
        margin: 0 auto;
        border: solid 2px;
        border-radius: 6px;
        background-color: rgb(244, 244, 244);
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.106);

    }

    .order_graphic{
        position: relative;
        background-repeat: no-repeat;
        width: 8rem;
        height: 8rem;
        z-index: 2;
        margin: 0 auto;
        background-image: url("ui_icons/ticket-svgrepo-com.svg");
    }

    .order_text{
        text-align: center;
    }
 


    .timer_mobile{
        display: none;
    }

}
 