/* The visual styling of the sections */

.box_flex {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: var(--font_color_black);
}
.box_flex img {
  width: 3rem;
  margin: 0 auto;
}

.process_line {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

body {
  background-image: url(img/long2f.svg);
  background-size: 120%;
  background-position: 10% 5%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main {
  min-height: 90vh;
}

#cart_section,
#costumer_section,
#payment_section,
#camping_section {
  display: none;
}

/* MOBILE STYLING DEFUALT */

#camping {
  margin: 0 auto;
  margin: 1rem;
  width: 90%;
}

.cart_products {
  margin: 0 auto;
  width: 98%;
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--primary_bg_3);
  box-shadow: var(--shadow_out), var(--shadow_inset);
}
.cart_wrapper {
  margin: 3rem 1rem;
}

table {
  margin: 0 auto;
  width: 100%;
}

th {
  font-family: "Righteous", cursive;
  font-size: 1.05rem;
  margin: 0 auto;
  padding-right: 0.2rem;
  border-bottom: 2px solid var(--font_color_black);
}

td {
  font-size: 0.8rem;
  vertical-align: bottom;
  text-align: center;
}

#cart_two th {
  display: none;
  border: none;
}

/*------camp area stylingss----*/

.camping_grid {
  display: flex;
  flex-wrap: wrap;
}

.btn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#map_overview_info{
  display: flex;
  justify-content: space-around;
}

.view_map{
  background-image: url(img/mapicon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 6rem;
  border-radius: 0;
box-shadow: none;
transition: 0.2s;
}

.view_map:hover{
 transition: 1s;;
  background-color: transparent;
  transform: scale(1.2) rotate(2deg);

}
#spot_reservation_info:first-child{
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
}


.c_a,
.c_b,
.c_c,
.c_d,
.c_e {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: var(--btn-radius);
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  background-size: 92%;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.c_a:checked,
.c_b:checked,
.c_c:checked,
.c_d:checked,
.c_e:checked {
  box-shadow: inset var(--shadow_out);
  transform: scale(1.15);
  transition: 1s;
}

.onec,
.twoc,
.threec,
.fourc,
.fivec {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.c_a {
  background-image: url(img/svartheim.png);
}

.c_a:hover {
  background-color: var(--secondary_bg_3);
}

.c_a:checked {
  background-color: var(--secondary_bg_3);
}

.c_b {
  background-image: url(img/nilfheim.png);
}

.c_b:hover {
  background-color: #df523c;
}

.c_b:checked {
  background-color: #df523c;
}


.c_c {
  background-image: url(img/helheim.png);
}

.c_c:hover {
  background-color: var(--secondary_bg_1);
}

.c_c:checked {
  background-color: var(--secondary_bg_1);
}

.c_d {
  background-image: url(img/muspelheim.png);
}

.c_d:hover {
  background-color: #bb3cc9;
}
.c_d:checked {
  background-color: #bb3cc9;
}
.c_e {
  background-image: url(img/alfheim.png);
  background-size: 70%;
}
.c_e:hover {
  background-color: var(--primary_bg_2);
}
.c_e:checked {
  background-color: var(--primary_bg_2);
}

.unclickable {
  filter: grayscale(100%) contrast(120%);
  background-color: transparent;
  cursor: auto;
}

.unclickable:hover {
  background-color: transparent;
}



#areainfo_popup{
  margin: 0 auto;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #312f30f2;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.areainfo_popup_background{
  text-align: center;

  gap: 2rem;
  position: fixed;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 6px;
  background-color: var(--secondary_bg_3);
  box-shadow: var(--shadow_out);
  top: 15%;
  left: 20%;
  right: 20%;
 

}

.costumer_grid,
.payment_grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
tr.total_border td {
  border-bottom: solid 1px;
}
.costumer_button,
.cart_button {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 3rem;
  gap: 0.5rem;
  align-items: center;
}

#order_popup,
#timesup_popup {
  margin: 0 auto;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #312f30f2;
  top: 0;
  left: 0;
  display: none;
}



.order_popup_background {
  position: fixed;
  padding: 2rem;
  margin: 0 auto;
  border: solid 2px;
  border-radius: 6px;
  background-color: var(--secondary_bg_3);

  box-shadow: var(--shadow_out);
  width: 100%;
  top: 50%;
  margin-top: -145px; /* Negative half of height. */
}
#otherTicket_title {
  display: none;
  padding-top: 2rem;
  font-size: 1.26rem;
  font-weight: 800;
}
.others_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 99%;
  border-bottom: dashed 2px var(--accent_one);
  padding-bottom: 1rem;
  width: 100%;
}

.order_text {
  text-align: center;
}

.p_buy {
  align-self: center;
}

/* TIMER STYLING */
#timer_section {
  position: absolute;
  top: 23%;
  width: 100%;
}

#costumer_section form,
#payment_section form {
  margin: 9rem auto;
}
#camping_section form {
  margin: 2rem auto;
}
.timegrid {
  color: var(--primary_bg_1);
  background-color: var(--secondary_bg_2);
  text-align: center;
  border: solid 3px var(--secondary_bg_3);
  border-radius: var(--default-b-radius);
  width: 100%;
}

.timegrid p {
  color: var(--primary_bg_1);
}

.timer {
  width: 100%;
  font-family: "Righteous", cursive;
  color: var(--primary_bg_1);
  font-size: 2rem;
  padding: 0.5rem;
}

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
  .order_popup_background {
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -145px; /* Negative half of height. */
    margin-left: -252px; /* Negative half of width. */
  }

  form {
    gap: 1rem;
    width: 100%;
  }

  .box_flex {
    font-size: 1rem;
  }
  #camping {
    margin: 0 auto;
    margin: 1rem;
    width: 80%;
  }

  .proces_line img {
    width: 50%;
  }

  .cart_wrapper,
  .payment_wrapper {
    margin: 3rem;
  }

  th {
    font-size: 1.5rem;
    padding: 1rem;
  }

  td {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #cart_table {
    width: 80%;
  }

  #timer_section {
    width: 50%;
    margin: 0 10rem;
  }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  #costumer_section form,
  #payment_section form {
    margin: 5rem auto;
  }
  .costumer_wrapper {
    margin: 1rem;
  }
  .payment_wrapper {
    margin: 0;
  }
  /*  Styling of timer */
  #timer_section {
    top: 30%;
    left: 66%;
    margin: 0;
  }
  .timegrid {
    width: 30%;
    position: fixed;
    padding: 2rem;
  }
  .timegrid p {
    font-size: 0.8rem;
  }

  .timer {
    font-size: 2rem;
    padding: 0;
  }

  .costumer_grid,
  .payment_grid {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }

  .payment_info {
    margin: 0 1rem;
  }
  .costumer_timer_cart,
  .payment_timer_card {
    display: grid;
    gap: 3rem;
    justify-content: center;
    align-items: end;
    height: 90%;
    margin-right: 2rem;
  }

  .credit_card_visual {
    background-image: url("ui_icons/card_visual-01.svg");
    background-repeat: no-repeat;
    background-size: 230px;
    display: block;
    width: 16rem;
    background-position: center;
    height: 19rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  body {
    background-size: 100%;
    background-position: 55% 75%;
  }
  /*camping styling*/
  .camping_grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }

  /*  Styling of timer */
  #timer_section {
    max-width: 25%;
    top: 40%;
    left: 60%;
  }

  .timegrid {
    padding: 2rem;
    font-size: 5rem;
    outline: solid 4px var(--secondary_bg_3);
  }

  .timer {
    font-size: 3rem;
    padding: 0;
  }

  /* STYLING AF POP */
  .order_popup_background {
    width: 630px;
    margin-left: -319px;
  }

  #cart_section,
  #costumer_section,
  #payment_section {
    margin: 0 auto;
  }

  .process_line {
    margin: 4rem;
  }

  .box_flex img {
    width: 5rem;
    margin: auto;
  }

  .cart_wrapper {
    margin: 0 auto;
    width: 80%;
  }

  .cart_p_checkout {
    margin: 1rem auto;
  }

  .cart_button {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
  }

  ._productcarts {
    background-image: url("ui_icons/ticket_cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 62rem;
    height: 18rem;
    background-size: 67rem;
    display: grid;
    padding: 1rem;
    gap: 1rem;
  }

  .costumer_grid,
  .payment_grid {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .costumer_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18rem;
  }

  .costumer_timer_cart,
  .payment_timer_card {
    display: grid;
    gap: 3rem;
    justify-content: center;
  }

  .credit_card_visual {
    height: 14rem;
  }

  .order_text {
    text-align: center;
  }

  #cart_table {
    width: 80%;
    padding: 1rem;
  }
}
