

/* MOBILE DEFAULT STYLING */
body{
background-image: url(img/long2f.svg);
background-size: 110%;
background-position: 50% 18%;
background-repeat: no-repeat;
}
#newsletter {
margin-top: 6rem;
}

#lineup_highlight {
    margin-top: 6rem;
    }

#radio_imp, #radio_all{
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
}

#radio_imp:checked, #radio_all:checked{
    background-color: var(--accent_two);
}

.grid_radio_new{
    max-width: 100%;
   /*  text-align: left; */
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.grid_radio_new dd{
    font-size: 1rem;
    font-weight: 400;
   /*  padding: 0.5rem; */
}
.grid_radio_new dt{
    font-size: 18px;
   text-align: center;
    font-weight: 600;
}

.newsletter_form input[type="email"]{
    margin: 0 auto;
    max-width: 90%;
    height: 3rem;
}
.newsletter_form{
    margin: 0 auto;
    padding-top: 2rem;
    max-width: 100%;
}

.sign_btn{
    display: grid;
    justify-content: center;
}

.title_wrapper {
    margin-top: 2rem;
    }

.title_wrapper p{
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    padding: 3rem;
    background-color: var(--secondary_bg_1);
    border-image: url("img/cloud.svg") 30 round;
    border: solid 7px var(--primary_bg_3);
    border-radius: var(--default-b-radius);
    box-shadow: var(--shadow_out);
    font-weight: 600;
}

.title_wrapper h1{
    letter-spacing: 4px;
}

#ticket{
background-image: url("ui_icons/ticket_done_01.svg");
background-repeat: no-repeat;
width: 17rem;
padding: 2rem;
cursor: pointer;
transform: rotate(2deg);
animation: pulse 1s infinite;
}

.ticket_wrapper{
    padding-top: 5rem;
    display: flex;
    justify-content: end;
}

#lineup_highlight h3{
    margin-bottom: -0.2rem;
}

.link_wrapper_container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
}

.link_wrapper{
    margin: 0 auto;
    width: 10rem;
    height: 3.5rem;
}


/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
    .title_wrapper h1{
        letter-spacing: 20px;
    }

    #ticket{
        width: 23rem;
        padding: 3rem;
    }

    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    body{
        background-size: 105%;
        background-position: 0% 50%;

        }
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    main{
      margin:3rem;
    } 

    .title_wrapper h1{
        letter-spacing: 25px;
    }

    #ticket{
        width: 45rem;
        padding: 5rem;
    }

    .newsletter_form{
        max-width: 40%;
    }

    .newsletter_form label{
        margin:0;
    }

    #newsletter {
        margin-top: 6rem;
        }

    .grid_radio_new {
        gap: 0.5rem;
        }

    .sign_btn {
        padding: 1rem;
        }

    .newslet_radio{
        height: 10rem;
        padding: 1rem;
    }

    .highlight_bg{
        margin: 0;
        width: 100%;
        border-radius: var(--default-b-radius);
        background-color: var(--primary_bg_2);
    }

    body{
        background-size: 105%;
        background-position: 0% -5%;
        }
    
  }


  /* X-Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    main{
      margin:3rem;
    } 


    body{
        background-size: 100%;
        background-position: 0% 78%;
        }
    
  }