#list-section{

    margin: 0 auto;
    max-width: 100%;

}


.list-wrapper{
    position:fixed;
    max-height:45rem;
    margin:1rem;
    background-color: var(--secondary_bg_3);
    cursor: pointer;
    border: dotted 3px var(--btn_font);
    outline: solid 5px var(--secondary_bg_3);
    transition: 1s;
  
  }


  #lineup-list{
  
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:40rem;
    margin:1rem;
    background-color: var(--primary_bg_3);
    box-shadow: var(--shadow_inset);
    font-size: 1.3rem;
 
}

