
#schedule-form{
    max-width: 60rem;
}


.table-container{
    display:flex;
    grid-gap: 1rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    grid-gap: 20rem;
    max-width: 6rem;
  
}

#activeDay{
        transform: rotateZ(270deg);
        font-size: 3rem;
}

#table-wrapper{
    display:flex;
    grid-gap:10px;
}

.schedule-list{
    background-color: white;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.106);
}

.table-cell{
    padding: 0.9rem;
    width: 15rem;
}

