* {
  box-sizing: border-box;
}

/* Navigation */

body {
  margin: 0 auto;
}

 main{
  margin:1rem;
} 
/*navigation top menu*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  color: #fff;
  height: 50px;
  padding: 1em;
}

.left-nav{
  display: flex;
  width: 100%;
  grid-gap: 3em;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.menu > a {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: rgb(230, 229, 229);
  text-decoration: none;
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: grey;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#menu-toggle ~ .menu a {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu a {
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}


/* Overall form and input styling desktop */
@media screen and (min-width: 992px) {
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 6px;
  background-color: rgb(244, 244, 244);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.106);

}

button:hover{
    background-color: rgb(98, 98, 98);
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: blue;

}

 /*  Styling of timer */

 .timer{
  display: block;
  background-color: black;
  text-align: center;
  color: white;
  max-width: 16rem;
  padding: 1rem;
  border-radius: 20px;
  height: auto;
}

.timer h2{
  font-size: 60px;
}

button{
  width: 10rem;
  padding: 1rem;
}

}

/* General styling that doesnt need changing */

input{
  width: 100%;
  height: 2rem;
  border-radius: 3px;
  list-style: none;
  border: none;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.199);
  transition: 0.5s;
  background-color: white;
  padding: 15px;
}

input:required:valid {
  background: rgb(224, 255, 218);
}

input:required:valid:focus{
  border: none;
}

input:focus{
  border: none;
}

input:focus:invalid {
    border: none;
  background: rgb(255, 218, 218);
  animation: bounce .5s;
  
}

.invalid_span{
    display: none;
    color: red;
}

input:focus{
    color: black;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.151);
    border: solid 0.5px;
    outline: transparent;
    transition: 0.5s;
    background-color: rgb(248, 248, 248);
  }

input:not(:focus){color: rgb(35, 35, 35);}

input:optional:focus{
  border: none;
}

input[name="cvc"]{
  width: 3.2rem;
}

input[name="date"]{
  width: 4rem;
}

.date_cvc{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

button{
  width: 9rem;
  padding: 0.8rem;
  border: none;
  border-radius: 25px;
  box-shadow: inset 2px 1.5px 6px rgba(255, 255, 255, 0.545), 1px 3px 4px rgba(0, 0, 0, 0.182);
  color: white;
  background-color: black;
  cursor: pointer;
}

 button:active{
    color: black;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.274);
}
 

label{
    font-weight: 700;
}

 /* unvisited link */
a:link {
  color: black;
  letter-spacing: 1.5px;
  text-decoration: none;

}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}


/* selected link */
a:active {
  color: blue;
  text-decoration-color: blue;
} 

select{
  height: 2rem;
}



/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  main{
    margin:3rem;
  } 
  
}

/* X-Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
  main{
    margin:3rem;
  } 
  
}




/* ALL ANIMATION KEYFRAMES */

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-5px);} 
  60% {-webkit-transform: translateY(-2px);} 
} 









/* TAKEN FROM ONLINE CREATORS */

/* https://codepen.io/alvarotrigo/pen/PoKMyWE */

h1 {
  color: rgb(0, 0, 0);
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 650px;
}

h1 span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: rgb(133, 133, 133);
  color: rgb(255, 255, 255);
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 280px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 330px;
  }
  30% {
    top: 0.2rem;
    width: 330px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 400px;
  }
  62% {
    top: -4.5rem;
    width: 400px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}