
  /* MOBILE DEFAULT */

  #tickets{
    margin: 1rem;
}

.ticket_grid{
    display: grid;
    gap: 3rem;
    margin: 0 auto;
}

.regu_ticket{
  margin: 0 auto;
  height: 8rem;
  max-width: 95%;
  background-color: black;
  cursor: pointer;
  border: dotted 3px white;
  outline: solid 5px black;
  transition: 1s;

}

.vip_ticket{
  margin: 0 auto;
  height: 8rem;
  max-width: 95%;
  background-color: grey;
  outline: solid 5px grey;
  border: dotted 3px white;
  cursor: pointer;
  transition: 1s;

  
}

.regu_fillout{
  display: none;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  outline: solid 5px;
  padding: 1rem;
  background-color: rgb(244, 244, 244);
  box-shadow: inset 5px 10px 10px rgba(0, 0, 0, 0.106), 8px 8px 15px rgba(0, 0, 0, 0.106);
}

.vip_fillout{
  display: none;
  max-width: 90%;
  margin: 0 auto;
  outline: solid 5px grey;
  padding: 1rem;
  background-color: rgb(244, 244, 244);
  box-shadow: inset 5px 10px 10px rgba(0, 0, 0, 0.106), 8px 8px 15px rgba(0, 0, 0, 0.106);
}

.ticket_visual{
  background-image: url("ui_icons/ticket-svgrepo-com.svg");
  width: 3rem;
  height: 3rem;
  transform: rotate(90deg);
}


.tent_two_p, .tent_four_p, .select_ticket{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.underline{
  border-bottom: dashed 2px black;
  width: 100%;
}


.camping_grid{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;

}
.camping_one, .camping_two, .camping_three{
  margin: 0 auto;
  height: 5rem;
  width: 40%;
  border-radius: 20px;
  cursor: pointer;
}

.camping_one{
  background-color: red;
}

.camping_two{
  background-color: greenyellow;
}

.camping_three{
  background-color: blue;
}


.reg_amount, .vip_amount, .tent_two_amount, .tent_four_amount{
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.amount_btn{
width: 2rem;
height: 2rem;
padding: 0;
}

.closeVip, .closeRegu{
  cursor: pointer;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px){


    .regu_ticket{
        height: 10rem;
    }

    .vip_ticket{
        height: 10rem;
    }

    .vip_ticket:hover{
        transform: rotate(-0.5deg);
        transition: 1s;
        background-color: black;
        outline: solid 5px black;

    }

        
    .regu_ticket:hover{
        background-color: grey;
        outline: solid 5px grey;
        transform: rotate(-0.5deg);
        transition: 1s;

    }

    .ticket_grid{
        display: grid;
        gap: 5rem;
        margin: 0 auto;
    }

}


/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    #tickets{
       margin: 0 auto;
     }
    .ticket_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        gap: 0rem;
    }

    .regu_ticket{
        margin: 0 auto;
        height: 10rem;
        width: 100%;
        background-color: black;
        cursor: pointer;
        border: dotted 3px white;
        outline: solid 5px black;
        transition: 1s;

    }

    
    .regu_ticket:hover{
        background-color: grey;
        outline: solid 5px grey;
        transform: rotate(-0.5deg);
        transition: 1s;

    }

    .vip_ticket{
        margin: 0 auto;
        width: 100%;
        height: 10rem;
        background-color: grey;
        outline: solid 5px grey;
        border: dotted 3px white;
        cursor: pointer;
        transition: 1s;

        
    }

    .vip_ticket:hover{
        transform: rotate(-0.5deg);
        transition: 1s;
        background-color: black;
        outline: solid 5px black;

    }

    .regu_fillout{
        margin: 0 auto;
        outline: solid 10px;
        padding: 1rem;
        background-color: rgb(244, 244, 244);
        box-shadow: inset 5px 10px 10px rgba(0, 0, 0, 0.106), 8px 8px 15px rgba(0, 0, 0, 0.106);
    }

    .vip_fillout{
        margin: 0 auto;
        outline: solid 10px grey;
        padding: 1rem;
        background-color: rgb(244, 244, 244);
        box-shadow: inset 5px 10px 10px rgba(0, 0, 0, 0.106), 8px 8px 15px rgba(0, 0, 0, 0.106);
    }

    .tent_two_p, .tent_four_p, .select_ticket{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10rem;
    }

    .ticket_visual{
        background-image: url("ui_icons/ticket-svgrepo-com.svg");
        width: 3rem;
        height: 3rem;
        transform: rotate(90deg);
    }

    .underline{
        border-bottom: dashed 2px black;
        width: 100%;
    }

    .camping_grid{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;

    }
    input[type=radio]{
        -webkit-appearance: none;
        height: 6rem;
        border-radius: 20px;
        transition: 0.5s;
        width: 8rem;
        cursor: pointer;
        box-shadow: none;
    }

    #c_a, #c_av{
        background-color: red;

    }

    #c_a:checked, #c_b:checked, #c_c:checked, #c_d:checked, #c_e:checked{
        background-color: black;
        background-size: 20px;
        transform: scale(1.1);
        transition: 1s;
    }

    #c_av:checked, #c_bv:checked, #c_cv:checked, #c_dv:checked, #c_ev:checked{
        background-color: rgb(59, 59, 59);
        background-size: 20px;
        transform: scale(1.1);
        transition: 1s;
    }

        #c_b, #c_bv{
            background-color: greenyellow;
        }
    #c_c, #c_cv{
        background-color: blue;
    }

    #c_d, #c_dv{
        background-color: rgb(175, 47, 255);
    }
#c_e, #c_ev{
    background-color: rgb(246, 255, 0);
}

    input[type=radio]:hover{
        transform: scale(1.1);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.106);
        transition: 1s;
    }
}  

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.onec, .twoc, .threec, .fourc, .fivec{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* Firefox */
/* input[type=number] {
    width: 3rem;
  -moz-appearance: textfield;
} */