/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #tickets{
       margin: 0 auto;
    }
    .ticket_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .regu_ticket{
        margin: 0 auto;
        height: 10rem;
        max-width: 40rem;
        background-color: black;
        cursor: pointer;
        border: dotted 3px white;
        outline: solid 5px black;
        transition: 1s;

    }

    
    .regu_ticket:hover{
        background-color: grey;
        outline: solid 5px grey;
        transform: rotate(-2deg);
        transition: 1s;

    }

    .vip_ticket{
        margin: 0 auto;
        max-width: 40rem;
        height: 10rem;
        background-color: grey;
        outline: solid 5px grey;
        border: dotted 3px white;
        cursor: pointer;
        transition: 1s;

        
    }

    .vip_ticket:hover{
        transform: rotate(-2deg);
        transition: 1s;
        background-color: black;
        outline: solid 5px black;

    }
  
}